Question 16 :
A website requires the users to input username and password to register. Write a program to check the validity of password input by users.

Following are the criteria for checking the password:

At least 1 letter between [a-z]
At least 1 number between [0-9]
At least 1 letter between [A-Z]
At least 1 character from [$#@]
Minimum length of transaction password: 6
Maximum length of transaction password: 12
Your program should accept a sequence of comma separated passwords and will check them according to the above criteria. Passwords that match the criteria are to be printed, each separated by a comma.

Example

If the following passwords are given as input to the program:

ABd1234@1,a F1#,2w3E*,2We3345
Then, the output of the program should be:

ABd1234@1

In [6]:
pwd = str(input('Enter the list of passwords: ')).split(',')
val_pwd = []

for p in pwd:
    l_flg,u_flg,n_flg,s_flg = 0, 0, 0, 0,
    if len(p) >= 6 and len(p) <=12:
        for i in p:
            if i >='a' and i <= 'z' and l_flg == 0:
                l_flg = 1
            elif i >='A' and i <= 'Z' and u_flg == 0:
                u_flg = 1
            elif i >= '0' and i <= '9' and n_flg == 0:
                n_flg = 1
            elif i in ('$','#','@') and s_flg == 0:
                s_flg = 1
            else:
                pass
        if l_flg == 1 and u_flg == 1 and n_flg == 1 and s_flg == 1:
            val_pwd.append(p)

            
print(','.join(val_pwd))

Enter the list of passwords: ABd1234@1,a F1#,2w3E*,2We3345
ABd1234@1

In [4]:
pwd

['ABd1234@1', 'a F1#', '2w3E*', '2We3345']

In [9]:
# Other ways of doing the same problem is as below:
import re # Regular expresssion Module has search function

f = bool(re.search('[a-z]', 'ABCDEF'))
t = bool(re.search('[a-z]', 'ABCDeF'))

f,t

(False, True)

In [11]:
#using the functions 
'a'.islower(),'A'.isupper(), '1'.isnumeric()

(True, True, True)

Question 19:
You are required to write a program to sort the (name, age, score) tuples by ascending order where name is string, age and score are numbers. The tuples are input by console. The sort criteria is:

1: Sort based on name
2: Then sort based on age
3: Then sort by score
The priority is that name > age > score.

If the following tuples are given as input to the program:

Tom,19,80
John,20,90
Jony,17,91
Jony,17,93
Json,21,85
Then, the output of the program should be:

[('John', '20', '90'), ('Jony', '17', '91'), ('Jony', '17', '93'), ('Json', '21', '85'), ('Tom', '19', '80')]

In [23]:
lst = []
while True:
    s = input()
    if s == '':
        break
    else:
        lst.append(tuple(s.split(',')))

lst

Tom,19,80
John,20,90
Jony,17,91
Jony,17,93
Json,21,85

[('Tom', '19', '80'),
 ('John', '20', '90'),
 ('Jony', '17', '91'),
 ('Jony', '17', '93'),
 ('Json', '21', '85')]

In [25]:
lst.sort()

In [26]:
lst

[('John', '20', '90'),
 ('Jony', '17', '91'),
 ('Jony', '17', '93'),
 ('Json', '21', '85'),
 ('Tom', '19', '80')]

In [27]:
# The above sort function works, but we didn't specified teh column order

In [28]:
lst.sort?

In [29]:
lst.sort(key = lambda x: (x[0],int(x[1]),int(x[2])))

In [30]:
lst

[('John', '20', '90'),
 ('Jony', '17', '91'),
 ('Jony', '17', '93'),
 ('Json', '21', '85'),
 ('Tom', '19', '80')]